@fontName: Arial;
@topFontSize: 24px;
@buttonWidth: 80px;

.topTable { border: 0 }
.topButton { font: bold @topFontSize @fontName;width:@buttonWidth;height:@buttonWidth / 2}
.topSpace { width: (@buttonWidth * 5) + 20 }
#topRulesLink { font: bold @topFontSize @fontName}
.boardTable { border: 1px solid black }
#boardButton { font: bold 48px @fontName;width:@buttonWidth;height:@buttonWidth}
.boardButtonCurrent { background-color: lightblue }
.boardButtonOneMove { background-color: lightgreen }
.boardButtonMultipleMoves { background-color: green }
.boardButtonOneFromEnd { background-color: red }
.boardButtonTwoFromEnd { background-color: pink }
.boardButtonUsed { background-color: lightgrey }
.boardButtonOther { background-color: ghostwhite }

