@(id: Int)

@import helper._

@main("Knight Tour") {
	<table class="topTable">	
		<tr>
			<td>
				@form(routes.Application.reset()) {
					<button class="topButton">Reset</button>
				}
			</td>
			<td>
				@form(routes.Application.undo()) {
					<button class="topButton">Undo</button>
				}
			</td>
			<td class="topSpace">
			</td>
			<td>
				<h3 id="topRulesLink"><a href="@routes.Application.knightTourRules">Rules</a></h3>
			</td>
			
		</tr>
	</table>
	
	@if(Board.possibleMoves(id) == 0) {
		<h3>Nowhere else to go but you managed @Board.totalMoves(id) moves.</h3>
	}
	<table class="boardTable">	
	@for(row <- 0 until Board.ROWS) {
		<tr>
		@for(col <- 0 until Board.COLUMNS) {
			<td>
                @form(routes.Application.jump(row, col)) {
                  @Some(Board.getSquareData(id, row, col)).map{case (attr,label) => 
                  	<button class="boardButton" @attr >@label</button>
                  }
               }
 			</td>
		}
		</tr>
	}
	</table>
}

