@(id: Int)

@import helper._

@main("Knight Tour") {
	<table border="0" >	
		<tr>
			<td>
				@form(routes.Application.reset()) {
					<input type="submit" value="Reset">
				}
			</td>
			<td>
				@form(routes.Application.undo()) {
					<input type="submit" value="Undo">
				}
			</td>
			<td width = "150">
			</td>
			<td>
				<h3><a href="@routes.Application.knightTourRules">Rules</a></h3>
			</td>
			
		</tr>
	</table>
	
	@if(Board.possibleMoves(id) == 0) {
		<h3>Nowhere else to go but you managed @Board.totalMoves(id) moves.</h3>
	}
	<table border="1" >	
	@for(r <- 0 until Board.ROWS) {
		<tr>
		@for(c <- 0 until Board.COLUMNS) {
			<td width=80 height=80>
               @form(routes.Application.jump(r, c)) {
                   <button @Board.getSquareAttributes(id, CoOrds(r, c))>@Board.getSquareString(id, CoOrds(r, c))</button>
               }
 			</td>
		}
		</tr>
	}
	</table>
}

