@import helper._

@main("Todo list") {
	@form(routes.Application.reset) {
		<input type="submit" value="Reset">
	}
	@form(routes.Application.undo) {
		<input type="submit" value="Undo">
	}
	<table border="1" >
	
	@for(r <- 0 until Board.ROWS) {
		<tr>
		@for(c <- 0 until Board.COLUMNS) {
			<td width=40>
               @form(routes.Application.jump(r, c)) {
                   <input type="submit" value=@(Board.getSquareString(CoOrds(r, c)))>
               }
 			</td>
		}
		</tr>
	}
	</table>
}

